.table-of-contents li {
  margin: 1.5rem 0;
}

.table-of-contents li a {
  position: relative;
  text-decoration: none;
  color: inherit;
}

.table-of-contents li a::after {
  content: "";
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  height: 1px;
  background: var(--black);
  transform: scaleX(0);
  transform-origin: left;
  transition: transform 0.3s ease;
}

.table-of-contents li a:hover::after {
  transform: scaleX(1);
}